.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 1308px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    font-weight: 700;
    font-family: Alata;
    margin: 60px 110px 0;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    width: 1140px;
    margin: 60px 0;
  }
  
  .u-section-1 .u-image-1 {
    min-height: 576px;
    background-image: url("images/dog_owner.jpeg");
    background-position: 64.45% 50%;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 0;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 368px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-icon-1 {
    height: 82px;
    width: 82px;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    font-family: Alata;
    margin: 29px 0 0;
  }
  
  .u-section-1 .u-text-3 {
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-layout-cell-3 {
    min-height: 371px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-1 .u-icon-2 {
    height: 82px;
    width: 82px;
    margin: 0 auto 0 0;
  }
  
  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    font-family: Alata;
    margin: 29px 0 0;
  }
  
  .u-section-1 .u-text-5 {
    font-style: normal;
    margin: 20px 0 0;
  }
  
  .u-section-1 .u-image-2 {
    background-image: url("images/dog_lick.jpeg");
    background-position: 34.46% 50%;
    min-height: 573px;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-1 .u-image-3 {
    min-height: 494px;
    background-image: url("images/adoption_1.jpeg");
    background-position: 34.27% 50%;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-1 .u-layout-cell-6 {
    min-height: 450px;
  }
  
  .u-section-1 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-1 .u-icon-3 {
    height: 82px;
    width: 82px;
    margin: 62px auto 0 0;
  }
  
  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
    font-family: Alata;
    margin: 28px 0 0;
  }
  
  .u-section-1 .u-text-7 {
    font-weight: 400;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1142px;
    }
  
    .u-section-1 .u-text-1 {
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 940px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 475px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 303px;
    }
  
    .u-section-1 .u-text-3 {
      font-style: normal;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 306px;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 472px;
    }
  
    .u-section-1 .u-image-3 {
      min-height: 407px;
    }
  
    .u-section-1 .u-layout-cell-6 {
      min-height: 371px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 2045px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 4.0625rem;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 546px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 542px;
    }
  
    .u-section-1 .u-image-3 {
      min-height: 935px;
    }
  
    .u-section-1 .u-layout-cell-6 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 2196px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3rem;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 540px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 819px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1.5;
    }
  
    .u-section-1 .u-layout-cell-3 {
      order: 1;
    }
  
    .u-section-1 .u-text-4 {
      font-size: 1.5;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 813px;
      order: 0;
    }
  
    .u-section-1 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-image-3 {
      min-height: 701px;
    }
  
    .u-section-1 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-6 {
      font-size: 1.5;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1592px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-1 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-1 .u-image-1 {
      min-height: 516px;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-text-4 {
      font-size: 1.5rem;
    }
  
    .u-section-1 .u-image-2 {
      min-height: 512px;
    }
  
    .u-section-1 .u-image-3 {
      min-height: 441px;
    }
  
    .u-section-1 .u-text-6 {
      font-size: 1.5rem;
    }
  } .u-section-2 {
    background-image: none;
  }
  
  .u-section-2 .u-sheet-1 {
    min-height: 640px;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 500px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-2 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: 5px auto 0 30px;
  }
  
  .u-section-2 .u-text-1 {
    font-family: Alata;
    font-weight: 700;
    margin: 13px 67px 0 53px;
  }
  
  .u-section-2 .u-search-1 {
    height: auto;
    width: 431px;
    min-height: 42px;
    margin: 30px 86px 0 53px;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 500px;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 20px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 500px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 412px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 3px;
      margin-right: 17px;
    }
  
    .u-section-2 .u-search-1 {
      margin-right: 36px;
      margin-left: 3px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-2 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-search-1 {
      width: 360px;
      margin-right: 0;
      margin-left: 0;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 400px;
    }
  
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-search-1 {
      width: 340px;
    }
  }